<a class="communityRef" id="author_link_id">
    <div class="row py-2">
        <div class="col-auto p-0 authorsImageContainer position-relative d-flex align-items-center justify-content-start">
            <img src="" class="z-0 position-absolute border rounded-circle authorsImage" id="author_image_id"> 
            <img src="" class="z-1 position-absolute top-0 end-0 topImage" id="top_image_id"> 
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row mb-md-1 contantCenter">
                        <div class="col-12 col-md-auto pe-md-0">
                            <div class="communityRef">
                                <h5 class="m-0 " style="word-wrap: break-word;" id="author_name_id">AgentLostgd22231232222312312222</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm">
                            <span class="fst-italic text-body-secondary text-nowrap">Создан <span id="creat_time_id">21.12.2022</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row contantCenter">
                                <div class="col-auto pe-0">
                                    <span class="fw-semibold text-body-secondary">Дата рождения: </span>
                                </div>
                                <div class="col-auto px-1">
                                    <span id="birth_date_id">15.02.2000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-auto contantCenter">
                    <span class="rounded-1 px-3 badge text-bg-primary">Постов: <span id="posts_count_id">6</span></span>
                    <span class="rounded-1 badge text-bg-primary">Лайков: <span id="likes_count_id">50</span></span>
                </div>
            </div>
        </div>
    </div>
</a>