<div class="mb-3" id="comment_templ_id">
    <div class="mb-1" id="comment_author_id"></div>
    <div class="fs-5 mb-1" >
        <span id="comment_content_id"></span>
        <div class="input-group d-none" id="edit_comment_input_id">
            <input type="text" class="form-control">
            <button class="btn btn-warning" type="button">Редактировать</button>
        </div>
    </div>
    <div class="mb-1">
        <span id="comment_time_id"></span><span class="postLinkText ms-1" id="comment_answer_id">Ответить</span>
        <div class="input-group d-none" id="comment_answer_input_id">
            <input type="text" class="form-control" placeholder="Оставьте комментарий...">
            <button class="btn btn-primary" type="button">Отправить</button>
        </div>
    </div>
    <div>
        <span class="postLinkText" id="open_subcomments_id">Раскрыть ответы</span>
        <div class="border-start border-5 ps-3" id="suncomments_container_id">
        </div>
    </div>
</div>